*  {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #36c
}

body {
  padding: 0;
  margin: 0;
}

aside {
  text-align: left;
  width: 168px;
  float: left;
  font-size: 14px;
  line-height: 21px;
  margin-left: 3%;
}

.profilePic {
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

p {
  font-weight: lighter;
}
